#carouselAnimationsPage {
    min-height : 100%;
}

#carouselAnimationsPage .carousel {
    margin-bottom : 5rem;
}

#carouselAnimationsPage .carousel-item {
    color      : white;
    padding    : 3rem 0;
    margin     : 0.5rem 1rem;
    text-align : center;
}

#carouselAnimationsPage .background-red {
    background : #5c3c47;
}

#carouselAnimationsPage .background-blue {
    background : #455560;
}

#carouselAnimationsPage .background-green {
    background : #496859;
}