#colorPickerPage {
    min-height : 100%;
}

#colorPickerPage #instructions {
    margin-bottom : 1rem;
}

#colorPickerPage .color-picker {
    margin-bottom : 3rem;
}

#colorPickerPage .color-picker ul:last-child {
    border-bottom : 1px solid black;
}

#colorPickerPage .color-picker ul li {
    cursor      : pointer;
    border-top  : 1px solid black;
    border-left : 1px solid black;
    height      : 3rem;
}

#colorPickerPage .color-picker ul li:last-child {
    border-right : 1px solid black;
}

#colorPickerPage .color-picker ul li:hover {
    border : 2px solid white;
}

#colorPickerPage #hovered-info-wrap {
    display : relative;
    width   : 100%;
}

#colorPickerPage #hovered-info {
    margin  : auto;
    width   : 20rem;
    height  : 7rem;
}

#colorPickerPage #hovered-color {
    display : inline-block;
    float   : left;
    border  : 1px solid black;
    height  : 100%;
    width   : 40%;
}

#colorPickerPage .hovered-value {
    display     : inline-block;
    float       : right;
    width       : 100%;
    font-family : 'Courier New', monospace;
    width       : 45%;
}