@keyframes move {
    0%   { left : 0;    }
    100% { left : 100%; }
}

#cubicBezierPage .panel {
    padding-right : 75px;
    margin-bottom : 2rem;
}

#cubicBezierPage .description {
    margin-bottom : 1rem;
    font-family   : 'Courier New', monospace;
}

#cubicBezierPage .box {
    position      : relative;
    height        : 50px;
    width         : 50px;
    border        : 1px solid black;
    border-radius : 5px;
}

#cubicBezierPage .move {
    animation-name            : move;
    animation-duration        : 2s;
    animation-direction       : alternate;
    animation-iteration-count : infinite;
}

#cubicBezierPage button {
    margin : 1rem;
}