/* SIZES */
.font-size-1 { font-size: 10px !important; }
.font-size-2 { font-size: 12px !important; }
.font-size-3 { font-size: 14px !important; }
.font-size-4 { font-size: 16px !important; }
.font-size-5 { font-size: 18px !important; }
.font-size-6 { font-size: 20px !important; }
.font-size-7 { font-size: 22px !important; }
.font-size-8 { font-size: 24px !important; }
.font-size-9 { font-size: 26px !important; }
.font-size-10 { font-size: 28px !important; }
.font-size-11 { font-size: 30px !important; }
.font-size-12 { font-size: 32px !important; }
.font-size-13 { font-size: 34px !important; }
.font-size-14 { font-size: 36px !important; }
.font-size-15 { font-size: 38px !important; }
.font-size-16 { font-size: 40px !important; }

@media only screen and (min-width: 64.063em) {
    .font-size-1 { font-size: 12px !important; }
    .font-size-2 { font-size: 14px !important; }
    .font-size-3 { font-size: 16px !important; }
    .font-size-4 { font-size: 18px !important; }
    .font-size-5 { font-size: 20px !important; }
    .font-size-6 { font-size: 22px !important; }
    .font-size-7 { font-size: 24px !important; }
    .font-size-8 { font-size: 26px !important; }
    .font-size-9 { font-size: 28px !important; }
    .font-size-10 { font-size: 30px !important; }
    .font-size-11 { font-size: 32px !important; }
    .font-size-12 { font-size: 34px !important; }
    .font-size-13 { font-size: 36px !important; }
    .font-size-14 { font-size: 38px !important; }
    .font-size-15 { font-size: 40px !important; }
    .font-size-16 { font-size: 42px !important; }
}

/* SPACING */
.letter-spacing-1 { letter-spacing : 0.1rem; }
.letter-spacing-2 { letter-spacing : 0.2rem; }
.letter-spacing-3 { letter-spacing : 0.3rem; }
.letter-spacing-4 { letter-spacing : 0.4rem; }
.letter-spacing-5 { letter-spacing : 0.5rem; }