#homePage {
    background : #D3DBE0;
    min-height : 100%;
}

#homePage #instructions {
    margin-top    : 2rem;
    margin-bottom : 3rem;
}

#homePage .guestbook {
    margin-top    : 2rem;
    margin-bottom : 2rem;
}

#homePage .carousel-item {
    color         : white;
    background    : #455560;
    padding       : 5rem 0;
    margin-bottom : 1rem;
    text-align    : center;
    font-family   : 'Courier New', monospace;
    border-top    : 1px solid #dddddd;
    border-bottom : 1px solid white;
}

#homePage .link-box {
    color         : #f2f2f2;
    background    : #2c3840;
    cursor        : pointer;
    padding       : 2.5rem 0;
    font-family   : 'Verdana', sans-serif;
    border        : 1px solid white;
}

#homePage table {
    background : #a6b7c2;
}

#homePage table th {
    background  : #758e9e;
    color       : white;
    font-family : 'Verdana', sans-serif;
}

#homePage table tr {
    background : #D3DBE0;
}