@keyframes blinking-text {
    0%   { opacity : 0;   }
    100% { opacity : 1.0; }
}

@keyframes vibrating-text {
    0%   { transform: translate(2px, 0); }
    100% { transform: translate(0,   0); }
}

@keyframes moving-shadow {
    0%   { text-shadow: 1px  1px 1px #999999; }
    100% { text-shadow: 10px 5px 1px #999999; }
}

@keyframes font-size {
    0%   { transform: scale(1, 1); }
    100% { transform: scale(2, 2); }
}

#textAnimationsPage .animation-cell {
    padding : 0;
}

#textAnimationsPage .animation-cell span {
    width   : 100%;
    margin  : auto;
    float   : left;
    padding : 15px;
}

#textAnimationsPage input {
    margin-bottom : 0;
}

#textAnimationsPage select {
    margin-bottom : 0;
}

#textAnimationsPage #submitButton {
    margin-top    : 1rem;
    margin-bottom : 0rem;
}

#textAnimationsPage .blinking-text span {
    animation-name            : blinking-text;
    animation-duration        : 1s;
    animation-iteration-count : infinite;
}

#textAnimationsPage .vibrating-text span {
    animation-name            : vibrating-text;
    animation-duration        : 0.1s;
    animation-iteration-count : infinite;
}

#textAnimationsPage .moving-shadow span {
    animation-name            : moving-shadow;
    animation-duration        : 3s;
    animation-iteration-count : infinite;
    animation-timing-function : ease;
}

#textAnimationsPage .font-size span {
    animation-name            : font-size;
    animation-duration        : 1s;
    animation-iteration-count : infinite;
}