<div id="carouselAnimationsPage">
    <div class="row">
        <!-- Header -->
        <div class="pageHeader font-size-8 letter-spacing-1 columns small-8 small-centered text-center">
            CAROUSEL ANIMATIONS
        </div>

        <!-- Carousel 1 -->
        <div class="subHeader font-size-4 text-center">LINEAR CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-linear" class="carousel">
                <div class="carousel-item background-red">1</div>
                <div class="carousel-item background-red">2</div>
                <div class="carousel-item background-red">3</div>
            </div>
        </div>

        <!-- Carousel 2 -->
        <div class="subHeader font-size-4 text-center">EASE-IN CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-ease-in" class="carousel">
                <div class="carousel-item background-blue">1</div>
                <div class="carousel-item background-blue">2</div>
                <div class="carousel-item background-blue">3</div>
            </div>
        </div>

        <!-- Carousel 3 -->
        <div class="subHeader font-size-4 text-center">EASE-OUT CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-ease-out" class="carousel">
                <div class="carousel-item background-green">1</div>
                <div class="carousel-item background-green">2</div>
                <div class="carousel-item background-green">3</div>
            </div>
        </div>

        <!-- Carousel 4 -->
        <div class="subHeader font-size-4 text-center">FADING CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-fading" class="carousel">
                <div class="carousel-item background-blue" >1</div>
                <div class="carousel-item background-red"  >2</div>
                <div class="carousel-item background-green">3</div>
            </div>
        </div>

        <!-- Carousel 5 -->
        <div class="subHeader font-size-4 text-center">MULTI CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-multi" class="carousel">
                <div class="carousel-item background-green">1</div>
                <div class="carousel-item background-green">2</div>
                <div class="carousel-item background-green">3</div>
                <div class="carousel-item background-blue" >4</div>
                <div class="carousel-item background-blue" >5</div>
                <div class="carousel-item background-blue" >6</div>
                <div class="carousel-item background-red"  >7</div>
                <div class="carousel-item background-red"  >8</div>
                <div class="carousel-item background-red"  >9</div>
            </div>
        </div>

        <!-- Carousel 6 -->
        <div class="subHeader font-size-4 text-center">PREVIEW CAROUSEL</div>
        <div class="small-10 small-centered columns">
            <div id="carousel-preview" class="carousel">
                <div class="carousel-item background-red"  >1</div>
                <div class="carousel-item background-green">2</div>
                <div class="carousel-item background-blue" >3</div>
            </div>
        </div>
    </div>
</div>