<div id="colorPickerPage">
    <!-- Header -->
    <div class="row">
        <div class="pageHeader font-size-8 letter-spacing-1 columns small-8 small-centered text-center">
            COLOR PICKER
        </div>
    </div>

    <div class="row">
        <p id="instructions" class="columns small-10 large-6 small-centered font-size-4 text-center">Hover over a color.</p>

        <div class="color-picker columns small-10 medium-8 small-centered">
            <ul class="small-block-grid-10" ng-repeat="row in pickerVM.picker track by $index">
                <li ng-repeat="color in row track by $index" ng-style="{ 'background':color }" ng-mouseover="pickerVM.hoveredColor = color"></li>
            </ul>
        </div>
    </div>

    <div id="hovered-info-wrap">
        <div id="hovered-info">
            <div id="hovered-color" ng-style="{ 'background' : pickerVM.hoveredColor }"></div>
            <div class="hovered-value"><strong>HEX: </strong>{{pickerVM.hoveredColor}}</div>
            <div class="hovered-value"><strong>&nbsp;&nbsp;R: </strong>{{pickerVM.hoveredComponent('r')}}</div>
            <div class="hovered-value"><strong>&nbsp;&nbsp;G: </strong>{{pickerVM.hoveredComponent('g')}}</div>
            <div class="hovered-value"><strong>&nbsp;&nbsp;B: </strong>{{pickerVM.hoveredComponent('b')}}</div>
        </div>
    </div>
</div>