<div id="cubicBezierPage">
    <!-- Header -->
    <div class="row">
        <div class="pageHeader font-size-8 letter-spacing-1 columns small-8 small-centered text-center">
            CUBIC BEZIER
        </div>
    </div>

    <div class="row">
        <div class="columns small-12 medium-10 large-8 xlarge-6 small-centered">
            <div class="panel" ng-repeat="box in bezierVM.boxes track by $index">
                <div class="description font-size-5">{{box.timing}}</div>
                <div class="box move" ng-style="{'background':box.background, 'animation-timing-function':box.timing}"></div>
            </div>
        </div>
        <div class="text-center"><a ng-click="bezierVM.resetBoxes()">Refresh</a></div>
    </div>
</div>