<div id="web-dialog" class="reveal-modal medium" data-reveal ng-controller="DialogController as dialogVM">
    <!-- Title -->
    <div id="dialog-title" ng-show="dialogVM.data.title" class="fontSize6 letterSpacing2">{{dialogVM.data.title | uppercase}}</div>

    <!-- Message -->
    <div id="dialog-message" ng-show="dialogVM.data.message">{{dialogVM.data.message}}</div>

    <!-- Input -->
    <input ng-show="dialogVM.data.getInput" type="text" ng-model="dialogVM.value"></input>

    <!-- Buttons -->
    <button id="dialog-negative-button" ng-show="dialogVM.data.negativeMessage" ng-click="dialogVM.dialogCallback(dialogVM.data.negativeCallback)" class="secondary">{{dialogVM.data.negativeMessage}}</button>
    <button id="dialog-positive-button" ng-show="dialogVM.data.positiveMessage" ng-click="dialogVM.dialogCallback(dialogVM.data.positiveCallback)">{{dialogVM.data.positiveMessage}}</button>
</div>