<!-- The ORDER is important here! -->

<small class="error" ng-message="required">Required</small>
<small class="error" ng-message="minlength">Too Short</small>
<small class="error" ng-message="maxlength">Too Long</small>
<small class="error" ng-message="pattern">Invalid Entry</small>

<!-- https://docs.angularjs.org/api/ngMessages -->

<div ng-repeat="message in errorMessages">
    <div ng-message-exp="message.type">{{ message.text }}</div>
</div>