<div class="fixed">
    <nav id="top-bar" class="top-bar" role="navigation" data-topbar>
        <ul class="title-area">
            <li class="name">
                <h1><a href="#/home">Sam Shalati</a></h1>
            </li>
            <li class="toggle-topbar menu-icon"><a href=""><span>Menu</span></a></li>
        </ul>

        <section class="top-bar-section">
            <ul class="right">
                <li ng-class="{active : pageVM.currentPath() == '/home'}" ><a href="#/home">Home</a></li>
                
                <li class="has-dropdown">
                    <a href="">Animations</a>
                    <ul class="dropdown">
                        <li ng-class="{active : pageVM.currentPath() == '/animations/color-picker'}" ><a href="#/animations/color-picker">Color Picker</a></li>
                        <li ng-class="{active : pageVM.currentPath() == '/animations/cubic-bezier'}" ><a href="#/animations/cubic-bezier">Cubic Bezier</a></li>
                        <li ng-class="{active : pageVM.currentPath() == '/animations/carousel'}"     ><a href="#/animations/carousel"    >Carousel</a></li>
                        <li ng-class="{active : pageVM.currentPath() == '/animations/text'}"         ><a href="#/animations/text"        >Text</a></li>
                    </ul>
                </li>
            </ul>
        </section>
    </nav>
</div>