<div id="homePage" class="full-width footer-page">
    <!-- Carousel -->
    <div id="home-carousel" class="carousel">
        <div class="carousel-item font-size-16 letter-spacing-2">MIS-577</div>
        <div class="carousel-item font-size-16 letter-spacing-2">CSS Animations</div>
        <div class="carousel-item font-size-16 letter-spacing-2">by Sam Shalati</div>
    </div>

    <div class="row">
        <p id="instructions" class="columns small-10 large-6 small-centered font-size-4 text-center">Click the links below or use the menu above.</p>

        <div class="columns small-9 medium-11 large-10 small-centered">
            <ul class="small-block-grid-1 medium-block-grid-2">
                <li><div ng-click="pageVM.goToPath('/animations/color-picker')" class="grow link-box text-center">Color Picker</div></li>
                <li><div ng-click="pageVM.goToPath('/animations/cubic-bezier')" class="grow link-box text-center">Cubic Bezier</div></li>
                <li><div ng-click="pageVM.goToPath('/animations/carousel')"     class="grow link-box text-center">Carousel Animations</div></li>
                <li><div ng-click="pageVM.goToPath('/animations/text')"         class="grow link-box text-center">Text Animations</div></li>
            </ul>
        </div>
    </div>

    <!-- Guestbook -->
    <div class="row collapse">
        <div class="guestbook small-6 small-centered columns text-center">
            <a ng-click="homeVM.enterName()" class="font-size-4">Sign Our Guestbook</a>
        </div>
        <table class="guestbook columns small-6 small-centered">
            <tr>
                <th class="text-center">Guest Name</th>
                <th class="text-center">Signed On</th>
            </tr>
            <tr ng-repeat="guest in homeVM.guests track by $index">
                <td class="text-center"><span>{{guest.name}}</span></td>
                <td class="text-center"><span>{{guest.date | date}}</span></td>
            </tr>
        </table>
    </div>
    <div class="footer-offset"></div>
</div>
<div class="footer-wrap">
    <div class="footer font-size-2" ng-if="pageVM.lastVisit == null">Welcome Stranger!</div>
    <div class="footer font-size-2" ng-if="pageVM.lastVisit != null">Your last visit was: {{pageVM.lastVisit | smartDate}}</div>
</div>