<div id="textAnimationsPage">
    <!-- Header -->
    <div class="row">
        <div class="pageHeader font-size-8 letter-spacing-1 columns small-8 small-centered text-center">
            TEXT ANIMATIONS
        </div>
    </div>

    <!-- Table -->
    <div class="row collapse">
        <table class="columns small-10 large-8 xlarge-6 small-centered">
            <tr>
                <th class="text-center">Action</th>
                <th class="text-center">Description</th>
                <th class="text-center">Text</th>
            </tr>
            <tr ng-repeat="anim in textVM.tableAnimations track by $index">
                <td class="text-center"><a ng-click="textVM.removeAnimation(anim)">Remove</a></td>
                <td class="text-center"><span>{{anim.description}}</span></td>
                <td class="text-center animation-cell font-size-5 {{anim.clazz}}"><span>{{anim.text}}</span></td>
            </tr>
        </table>
    </div>

    <!-- Form -->
    <div class="row">
        <form id="newAnimationForm" name="newAnimationForm" class="columns small-10 large-8 xlarge-6 small-centered panel" ng-submit="textVM.addAnimation()">
            <div class="row">

                <!-- Animation -->
                <div class="columns small-12 medium-6">
                    <div class="row collapse">
                        <div class="columns small-3">
                            <label class="prefix font-size-2" for="newAnimation">Animation</label>
                        </div>
                        <div class="columns small-9">
                            <select id="newAnimation" name="newAnimation" ng-options="anim.description for anim in textVM.animationList" ng-model="textVM.newAnimation" ng-required="true">
                                <option value="" selected disabled>Select an Animation</option>
                            </select>
                        </div>
                        <ng-messages for="newAnimationForm.newAnimation.$error"><div ng-messages-include="html/form-messages.html"></div></ng-messages>
                    </div>
                </div>
                
                <!-- Text -->
                <div class="columns small-12 medium-6">
                    <div class="row collapse">
                        <div class="columns small-3 top-margin-small">
                            <label class="prefix font-size-2" for="newAnimationText">Text</label>
                        </div>
                        <div class="columns small-9 top-margin-small">
                            <input id="newAnimationText" name="newAnimationText" type="text" ng-model="textVM.newAnimationText" placeholder="Add Some Text" ng-required="true">
                        </div>
                        <ng-messages for="newAnimationForm.newAnimationText.$error"><div ng-messages-include="html/form-messages.html"></div></ng-messages>
                    </div>
                </div>

                <!-- Submit -->
                <button id="submitButton" type="submit" class="button tiny small-4 small-offset-4" ng-disabled="newAnimationForm.$invalid">Add</button>
            </div>
        </form>
    </div>

</div>